body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana;text-align: center;}
#rate_val{
    text-align: right;
  }  
.maindiv {
   background-color: white;
   align-items: center;
   color: black;
   width: 300px;
   padding: 80px;
   border:5px solid black;
   border-radius: 25px;
   margin: auto;
   font-weight: bold;
   align-content: center;
}
label {
    float:left;
    width: 100px;
  }

